In [1]:
import pandas as pd

In [13]:
df = pd.read_csv('info.csv',sep=';')

In [14]:
df

      Ciudad  Poblacion
0       Loja     109000
1      Quito     200000
2  Guayaquil      15000
3     Cuenca      10000

In [15]:
df.keys()

Index(['Ciudad', 'Poblacion'], dtype='object')

In [16]:
df['Ciudad']

0         Loja
1        Quito
2    Guayaquil
3       Cuenca
Name: Ciudad, dtype: object